html {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
}

body {
    background: #ffffff;
}

#header {
    position: fixed;
    z-index: 1;
    width: 40%;
    height: 10%;
    padding-top: 5px;
    display: block;
}

#header #logo {
    position: relative;
    top: -20px;
    left: 20px;
}

#header .IAM {
    display: block;
    width: 129.6px;
    height: 24px;
    margin: 100px 100px;
    background-image: url("LOGO.png");
    background-size: 129.6px 24px;
    text-indent: -9999px;
    vertical-align: top;
}

h1 {
    font-size: 40px;
}

#header .logo_text {
    position: absolute;
    font-family: 'Roboto', Roboto-Regular;
    top: 99px;
    left: 40%;
    line-height: 5px;
    color: #000000;
}

#nav {
    position: fixed;
    width: 200px;
    height: 50px;
}

#wrapper {
    position: relative;
    margin-left: 0px;
    min-width: 100%;
    height: 100%;
    background: #ffffff;
    color: #181818;
    font-size: 12px;
    line-height: 1.75;
    text-align: left;
}

#navarea {
    position: fixed;
    top: 140px;
    left: 860px;
    z-index: 5;
    width: 180px;
    height: 100%;
    margin-left: -800px;
}

#navarea .ul {
    position: relative;
    display: flex;
    font-family: 'Roboto', Roboto-Regular;
}

#navarea ul li {
    list-style: none;
    font-family: 'Roboto', Roboto-Regular;
}

#navarea ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-family: 'Roboto', Roboto-Regular;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
}

#navarea ul li a:hover {
    color: #0a0a0a;
    font-family: 'Roboto', Roboto-Regular;
    -webkit-text-stroke: 0px #000;
    transition: 0.2s ease-out;
    transform: translate(8px, 0px);
}

#myVideo {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
    background-position: center center;
    background-size: contain;
    object-fit: cover;
    /*cover video background */
    z-index: 3;
}
