html {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #ffffff;
}

#header {
    position: fixed;
    z-index: 1;
    width: 40%;
    height: 10%;
    padding-top: 5px;
    display: block;
}

#header #logo {
    position: relative;
    top: -20px;
    left: 20px;
}

h1 {
    font-size: 40px;
}

#header .logo_text {
    position: absolute;
    font-family: 'Roboto', Roboto-Regular;
    top: -4px;
    left: 40%;
    line-height: 5px;
    color: #000000;
}

#nav {
    position: fixed;
    width: 200px;
    height: 50px;
}

#wrapper {
    position: relative;
    margin-left: 15px;
    width: 200px;
    min-height: 100%;
    background: #ffffff;
    color: #181818;
    font-size: 12px;
    line-height: 1.75;
    text-align: left;
}

#navarea {
    position: fixed;
    top: 15%;
    left: 50%;
    z-index: 5;
    width: 180px;
    height: 100%;
    margin-left: -800px;
    padding-left: 38px;
}

#navarea .ul {
    position: relative;
    display: flex;
    font-family: 'Roboto', Roboto-Regular;
}

#navarea ul li {
    list-style: none;
    font-family: 'Roboto', Roboto-Regular;
}

#navarea ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-family: 'Roboto', Roboto-Regular;
    font-size: 12px;
    line-height: 24px;
    color: #646464;
}

#navarea ul li a:hover {
    color: #0a0a0a;
    font-family: 'Roboto', Roboto-Regular;
    -webkit-text-stroke: 0px #000;
    transition: 0.3s ease;
    transform: translate(8px, 0px);
}

#container {
    right: 0;
    position: absolute;
    background-color: #000000;
    width: 50%;
    height: 100%;
}
